.toolbar {
	position: absolute;
	top: 16px;
	left: 16px;
	right: 16px;
	z-index: 20;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 24px;
}

.heading h1 {
	margin: 0;
}

.heading h1 {
	margin-top: 5px;
	font-size: clamp(1.25rem, 2vw, 1.7rem);
	letter-spacing: -0.04em;
}

.heading {
	margin-right: auto;
}

.actionIcon {
	width: 16px;
	height: 16px;
	object-fit: contain;
}

.search,
.addButton {
	display: flex;
	align-items: center;
	gap: 8px;
	background: rgba(48, 48, 48, 0.5);
	border-radius: 1000px;
	color: #ffffff;
	aspect-ratio: 1 / 1;

	border: 1px solid transparent;
	/* position: relative; */
}

.search::before,
.addButton::before {
	content: "";
	position: absolute;
	inset: -1;
	border-radius: inherit;
	padding: 2px;
	background: linear-gradient(
		135deg,
		#373737,
		transparent 35%,
		transparent 65%,
		#373737
	);
	-webkit-mask:
		linear-gradient(#fff 0 0) content-box,
		linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask:
		linear-gradient(#fff 0 0) content-box,
		linear-gradient(#fff 0 0);
	mask-composite: exclude;
	pointer-events: none;
}

.search {
	padding: 9px 12px;
	background: rgba(255, 255, 255, 0.06);
}

.search input {
	width: 150px;
	border: 0;
	outline: 0;
	color: inherit;
	font: inherit;
	font-size: 0.8rem;
}

.search input::placeholder {
	color: #8d8d8d;
}

.addButton {
	padding: 9px 13px;
	appearance: none;
	-webkit-backdrop-filter: blur(1px);
	backdrop-filter: blur(1px);
	font: inherit;
	font-size: 0.8rem;
	cursor: pointer;
}

.addButton:focus-visible,
I .search:focus-within {
	outline: 1px solid #ffffff;
	outline-offset: 2px;
}

@media (max-width: 700px) {
	.toolbar {
		top: 12px;
		left: 12px;
		right: 12px;
		align-items: stretch;
		flex-direction: column;
		gap: 16px;
	}

	.heading {
		margin-right: 0;
	}

	.search {
		flex: 1;
	}

	.search input {
		width: 100%;
	}
}
